.filterBlock {
  display: flex;
  flex-direction: column;
}

.locatinoFilter {
  position: relative;
}

.locationIcon {
  fill: var(--gray);
  position: absolute;
  top: 48px;
  left: 18px;
}

.locationInput {
  display: flex;
  width: 360px;
  height: 56px;
  padding: 18px 18px 18px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: var(--inputs);
  color: var(--gray);
  font-family: Inter;
  font-size: 16px;
  outline: none;
  border: none;
}

.locationLabel {
  color: var(--gray);
  margin-bottom: 8px;
}

.locationInput:focus,
.locationInput:active {
  color: var(--main);
}

.locatinoFilter:focus-within .locationIcon {
  fill: var(--main);
}

fieldset {
  border: none;
  margin-top: 40px;
  padding: 0;
}

fieldset legend {
  margin-bottom: 32px;
  color: var(--text);
  font-weight: 500;
}

.filterTitle {
  padding-bottom: 24px;
}

.equipmentFilter,
.typeFilter {
  padding-top: 24px;
  border-top: 1px solid var(--gray-light);
  display: flex;
  width: 360px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}

.equipmentFilter {
  padding-bottom: 32px;
}

.typeFilter {
  padding-bottom: 40px;
}

.equipmentFilter li,
.typeFilter li {
  margin: 0;
}

.optionBlock {
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid var(--gray-light);
  mix-blend-mode: multiply;
  width: 112px;
  height: 96px;
}

.optionBlock input {
  display: none;
}

.selected {
  border: 1px solid var(--button);
  mix-blend-mode: multiply;
}
