.btn {
  display: flex;
  width: fit-content;
  padding: 16px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: var(--button);
  color: var(--white);
  font-family: var(--primary-family);
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 1.5;
}

.btn:hover {
  background: var(--button-hover);
}
