:root {
  /* Colors */
  --main: #101828;
  --text: #475467;
  --gray: #6c717b;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;

  /* Fonts */
  --primary-family: Inter, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-family);
  color: var(--main);
  background: var(--white);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

h1 {
  color: var(--inputs);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--main);
}

.container {
  max-width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
  margin-left: auto;
  margin-right: auto;
}
